/detect_face.py
/detect_hand.py
/detect_people.py
/displayTesteCaio.py
/display_com_img.py
/listener.py
/novo_display.py
/olhos.py
/pidDoCaio
/pid_novo_07_10
/testeEnvio.py
/teste_Distancia_camera
/__pycache__